<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID1785</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {283, 487}}</string>
                <key>offset</key>
                <string>{50, 7}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{243, 34}, {283, 487}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1781</key>
            <dict>
                <key>frame</key>
                <string>{{287, 0}, {285, 485}}</string>
                <key>offset</key>
                <string>{53, 8}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{245, 34}, {285, 485}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1753</key>
            <dict>
                <key>frame</key>
                <string>{{1150, 0}, {283, 484}}</string>
                <key>offset</key>
                <string>{54, 23}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{247, 20}, {283, 484}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1754</key>
            <dict>
                <key>frame</key>
                <string>{{863, 0}, {283, 484}}</string>
                <key>offset</key>
                <string>{57, 23}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{250, 20}, {283, 484}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1758</key>
            <dict>
                <key>frame</key>
                <string>{{576, 0}, {283, 484}}</string>
                <key>offset</key>
                <string>{55, 23}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{248, 20}, {283, 484}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1755</key>
            <dict>
                <key>frame</key>
                <string>{{0, 491}, {283, 483}}</string>
                <key>offset</key>
                <string>{60, 22}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{253, 21}, {283, 483}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1756</key>
            <dict>
                <key>frame</key>
                <string>{{1724, 0}, {283, 483}}</string>
                <key>offset</key>
                <string>{60, 22}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{253, 21}, {283, 483}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1757</key>
            <dict>
                <key>frame</key>
                <string>{{1437, 0}, {283, 483}}</string>
                <key>offset</key>
                <string>{57, 22}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{250, 21}, {283, 483}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1782</key>
            <dict>
                <key>frame</key>
                <string>{{287, 491}, {304, 470}}</string>
                <key>offset</key>
                <string>{58, 24}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{240, 26}, {304, 470}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1787</key>
            <dict>
                <key>frame</key>
                <string>{{595, 491}, {283, 467}}</string>
                <key>offset</key>
                <string>{51, 19}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{244, 32}, {283, 467}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1786</key>
            <dict>
                <key>frame</key>
                <string>{{882, 491}, {283, 467}}</string>
                <key>offset</key>
                <string>{45, 23}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{238, 28}, {283, 467}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1784</key>
            <dict>
                <key>frame</key>
                <string>{{1169, 491}, {283, 466}}</string>
                <key>offset</key>
                <string>{56, 10}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{249, 42}, {283, 466}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1802</key>
            <dict>
                <key>frame</key>
                <string>{{1456, 491}, {283, 464}}</string>
                <key>offset</key>
                <string>{56, 11}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{249, 42}, {283, 464}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1780</key>
            <dict>
                <key>frame</key>
                <string>{{1743, 491}, {283, 464}}</string>
                <key>offset</key>
                <string>{56, 11}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{249, 42}, {283, 464}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1749</key>
            <dict>
                <key>frame</key>
                <string>{{0, 978}, {283, 463}}</string>
                <key>offset</key>
                <string>{56, 11}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{249, 42}, {283, 463}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1803</key>
            <dict>
                <key>frame</key>
                <string>{{287, 978}, {355, 460}}</string>
                <key>offset</key>
                <string>{36, 10}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{193, 45}, {355, 460}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1759</key>
            <dict>
                <key>frame</key>
                <string>{{646, 978}, {278, 460}}</string>
                <key>offset</key>
                <string>{78, 20}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{273, 35}, {278, 460}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1783</key>
            <dict>
                <key>frame</key>
                <string>{{928, 978}, {283, 456}}</string>
                <key>offset</key>
                <string>{52, 19}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{245, 38}, {283, 456}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1761</key>
            <dict>
                <key>frame</key>
                <string>{{1215, 978}, {275, 451}}</string>
                <key>offset</key>
                <string>{88, 7}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{285, 52}, {275, 451}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1760</key>
            <dict>
                <key>frame</key>
                <string>{{1494, 978}, {294, 441}}</string>
                <key>offset</key>
                <string>{87, 9}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{274, 55}, {294, 441}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1751</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1445}, {281, 441}}</string>
                <key>offset</key>
                <string>{102, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{296, 64}, {281, 441}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1752</key>
            <dict>
                <key>frame</key>
                <string>{{285, 1445}, {280, 437}}</string>
                <key>offset</key>
                <string>{111, -2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{305, 68}, {280, 437}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1804</key>
            <dict>
                <key>frame</key>
                <string>{{569, 1445}, {392, 428}}</string>
                <key>offset</key>
                <string>{15, -11}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{153, 81}, {392, 428}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1805</key>
            <dict>
                <key>frame</key>
                <string>{{965, 1445}, {429, 368}}</string>
                <key>offset</key>
                <string>{-22, -41}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{98, 141}, {429, 368}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1806</key>
            <dict>
                <key>frame</key>
                <string>{{1398, 1445}, {439, 332}}</string>
                <key>offset</key>
                <string>{-33, -76}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{82, 194}, {439, 332}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID2693</key>
            <dict>
                <key>frame</key>
                <string>{{1792, 978}, {112, 331}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{2, 27}, {112, 331}}</string>
                <key>sourceSize</key>
                <string>{118, 385}</string>
            </dict>
            <key>PTModelSprite_ID2820</key>
            <dict>
                <key>frame</key>
                <string>{{1841, 1445}, {153, 152}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {153, 152}}</string>
                <key>sourceSize</key>
                <string>{154, 152}</string>
            </dict>
            <key>PTModelSprite_ID2644</key>
            <dict>
                <key>frame</key>
                <string>{{1908, 978}, {128, 151}}</string>
                <key>offset</key>
                <string>{2, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{13, 1}, {128, 151}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID2642</key>
            <dict>
                <key>frame</key>
                <string>{{1908, 1133}, {128, 151}}</string>
                <key>offset</key>
                <string>{-2, 2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{12, 2}, {128, 151}}</string>
                <key>sourceSize</key>
                <string>{156, 158}</string>
            </dict>
            <key>PTModelSprite_ID2645</key>
            <dict>
                <key>frame</key>
                <string>{{1841, 1601}, {143, 150}}</string>
                <key>offset</key>
                <string>{2, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{5, 1}, {143, 150}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID2408</key>
            <dict>
                <key>frame</key>
                <string>{{1004, 1890}, {1000, 120}}</string>
                <key>offset</key>
                <string>{0, -70}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 140}, {1000, 120}}</string>
                <key>sourceSize</key>
                <string>{1000, 260}</string>
            </dict>
            <key>PTModelSprite_ID2409</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1890}, {1000, 120}}</string>
                <key>offset</key>
                <string>{0, -70}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 140}, {1000, 120}}</string>
                <key>sourceSize</key>
                <string>{1000, 260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID1750.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID1750.png</string>
        </dict>
    </dict>
</plist>
