<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID1573</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {1136, 640}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {1136, 640}}</string>
                <key>sourceSize</key>
                <string>{1136, 640}</string>
            </dict>
            <key>PTModelSprite_ID1728</key>
            <dict>
                <key>frame</key>
                <string>{{1140, 0}, {283, 464}}</string>
                <key>offset</key>
                <string>{56, 11}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{249, 42}, {283, 464}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1729</key>
            <dict>
                <key>frame</key>
                <string>{{1427, 0}, {283, 463}}</string>
                <key>offset</key>
                <string>{57, 10}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{250, 43}, {283, 463}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1730</key>
            <dict>
                <key>frame</key>
                <string>{{1714, 0}, {283, 461}}</string>
                <key>offset</key>
                <string>{58, 9}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{251, 45}, {283, 461}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1731</key>
            <dict>
                <key>frame</key>
                <string>{{0, 644}, {283, 459}}</string>
                <key>offset</key>
                <string>{59, 8}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{252, 47}, {283, 459}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1732</key>
            <dict>
                <key>frame</key>
                <string>{{287, 644}, {282, 458}}</string>
                <key>offset</key>
                <string>{60, 8}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{253, 48}, {282, 458}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1733</key>
            <dict>
                <key>frame</key>
                <string>{{573, 644}, {282, 456}}</string>
                <key>offset</key>
                <string>{61, 7}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{254, 50}, {282, 456}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1712</key>
            <dict>
                <key>frame</key>
                <string>{{859, 644}, {228, 280}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {228, 280}}</string>
                <key>sourceSize</key>
                <string>{228, 280}</string>
            </dict>
            <key>PTModelSprite_ID1807</key>
            <dict>
                <key>frame</key>
                <string>{{1091, 644}, {436, 273}}</string>
                <key>offset</key>
                <string>{-41, -104}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{76, 252}, {436, 273}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID442</key>
            <dict>
                <key>frame</key>
                <string>{{1531, 644}, {234, 233}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {234, 233}}</string>
                <key>sourceSize</key>
                <string>{234, 233}</string>
            </dict>
            <key>PTModelSprite_ID1581</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1107}, {450, 193}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {450, 193}}</string>
                <key>sourceSize</key>
                <string>{450, 193}</string>
            </dict>
            <key>PTModelSprite_ID342</key>
            <dict>
                <key>frame</key>
                <string>{{1769, 644}, {189, 173}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 1}, {189, 173}}</string>
                <key>sourceSize</key>
                <string>{189, 174}</string>
            </dict>
            <key>PTModelSprite_ID2823</key>
            <dict>
                <key>frame</key>
                <string>{{2001, 0}, {19, 150}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{65, 1}, {19, 150}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID2643</key>
            <dict>
                <key>frame</key>
                <string>{{2024, 0}, {19, 150}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{65, 1}, {19, 150}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID2372</key>
            <dict>
                <key>frame</key>
                <string>{{2001, 154}, {19, 150}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{65, 1}, {19, 150}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID1576</key>
            <dict>
                <key>frame</key>
                <string>{{1140, 468}, {447, 139}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {447, 139}}</string>
                <key>sourceSize</key>
                <string>{447, 139}</string>
            </dict>
            <key>PTModelSprite_ID1685</key>
            <dict>
                <key>frame</key>
                <string>{{1591, 468}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1613</key>
            <dict>
                <key>frame</key>
                <string>{{859, 928}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1616</key>
            <dict>
                <key>frame</key>
                <string>{{915, 1107}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1619</key>
            <dict>
                <key>frame</key>
                <string>{{454, 1107}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1629</key>
            <dict>
                <key>frame</key>
                <string>{{1320, 928}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1610</key>
            <dict>
                <key>frame</key>
                <string>{{1376, 1107}, {417, 109}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {417, 109}}</string>
                <key>sourceSize</key>
                <string>{417, 109}</string>
            </dict>
            <key>PTModelSprite_ID1626</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1304}, {791, 109}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {791, 109}}</string>
                <key>sourceSize</key>
                <string>{791, 109}</string>
            </dict>
            <key>PTModelSprite_ID1589</key>
            <dict>
                <key>frame</key>
                <string>{{1723, 468}, {228, 100}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {228, 100}}</string>
                <key>sourceSize</key>
                <string>{228, 100}</string>
            </dict>
            <key>PTModelSprite_ID1663</key>
            <dict>
                <key>frame</key>
                <string>{{1885, 928}, {100, 100}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {100, 100}}</string>
                <key>sourceSize</key>
                <string>{100, 100}</string>
            </dict>
            <key>PTModelSprite_ID1660</key>
            <dict>
                <key>frame</key>
                <string>{{1781, 928}, {100, 100}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {100, 100}}</string>
                <key>sourceSize</key>
                <string>{100, 100}</string>
            </dict>
            <key>PTModelSprite_ID1604</key>
            <dict>
                <key>frame</key>
                <string>{{795, 1304}, {911, 97}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {911, 97}}</string>
                <key>sourceSize</key>
                <string>{911, 97}</string>
            </dict>
            <key>PTModelSprite_ID1567</key>
            <dict>
                <key>frame</key>
                <string>{{1797, 1107}, {93, 93}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {93, 93}}</string>
                <key>sourceSize</key>
                <string>{93, 93}</string>
            </dict>
            <key>PTModelSprite_ID1490</key>
            <dict>
                <key>frame</key>
                <string>{{1955, 468}, {81, 89}}</string>
                <key>offset</key>
                <string>{-1, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {81, 89}}</string>
                <key>sourceSize</key>
                <string>{82, 90}</string>
            </dict>
            <key>PTModelSprite_ID1484</key>
            <dict>
                <key>frame</key>
                <string>{{1962, 644}, {81, 89}}</string>
                <key>offset</key>
                <string>{-1, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {81, 89}}</string>
                <key>sourceSize</key>
                <string>{82, 90}</string>
            </dict>
            <key>PTModelSprite_ID1502</key>
            <dict>
                <key>frame</key>
                <string>{{1894, 1107}, {90, 81}}</string>
                <key>offset</key>
                <string>{0, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {90, 81}}</string>
                <key>sourceSize</key>
                <string>{90, 82}</string>
            </dict>
            <key>PTModelSprite_ID1591</key>
            <dict>
                <key>frame</key>
                <string>{{1962, 737}, {79, 79}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {79, 79}}</string>
                <key>sourceSize</key>
                <string>{79, 79}</string>
            </dict>
            <key>PTModelSprite_ID2566</key>
            <dict>
                <key>frame</key>
                <string>{{1989, 928}, {53, 76}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {53, 76}}</string>
                <key>sourceSize</key>
                <string>{53, 76}</string>
            </dict>
            <key>PTModelSprite_ID1598</key>
            <dict>
                <key>frame</key>
                <string>{{454, 1224}, {87, 72}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {87, 72}}</string>
                <key>sourceSize</key>
                <string>{87, 72}</string>
            </dict>
            <key>PTModelSprite_ID151</key>
            <dict>
                <key>frame</key>
                <string>{{545, 1224}, {63, 62}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 1}, {63, 62}}</string>
                <key>sourceSize</key>
                <string>{63, 63}</string>
            </dict>
            <key>PTModelSprite_ID110</key>
            <dict>
                <key>frame</key>
                <string>{{612, 1224}, {63, 62}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 1}, {63, 62}}</string>
                <key>sourceSize</key>
                <string>{63, 63}</string>
            </dict>
            <key>PTModelSprite_ID2229</key>
            <dict>
                <key>frame</key>
                <string>{{1769, 821}, {50, 41}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {50, 41}}</string>
                <key>sourceSize</key>
                <string>{50, 41}</string>
            </dict>
            <key>PTModelSprite_ID1829</key>
            <dict>
                <key>frame</key>
                <string>{{1823, 821}, {160, 32}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {160, 32}}</string>
                <key>sourceSize</key>
                <string>{160, 32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID107.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID107.png</string>
        </dict>
    </dict>
</plist>
