<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID2042</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {1500, 1000}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {1500, 1000}}</string>
                <key>sourceSize</key>
                <string>{1500, 1000}</string>
            </dict>
            <key>PTModelSprite_ID2093</key>
            <dict>
                <key>frame</key>
                <string>{{1504, 0}, {497, 534}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {497, 534}}</string>
                <key>sourceSize</key>
                <string>{497, 534}</string>
            </dict>
            <key>PTModelSprite_ID1837</key>
            <dict>
                <key>frame</key>
                <string>{{1504, 538}, {282, 458}}</string>
                <key>offset</key>
                <string>{-1, -19}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{73, 49}, {282, 458}}</string>
                <key>sourceSize</key>
                <string>{430, 519}</string>
            </dict>
            <key>PTModelSprite_ID2739</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1004}, {268, 455}}</string>
                <key>offset</key>
                <string>{-8, -20}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{73, 52}, {268, 455}}</string>
                <key>sourceSize</key>
                <string>{430, 519}</string>
            </dict>
            <key>PTModelSprite_ID1938</key>
            <dict>
                <key>frame</key>
                <string>{{272, 1004}, {364, 280}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {364, 280}}</string>
                <key>sourceSize</key>
                <string>{364, 280}</string>
            </dict>
            <key>PTModelSprite_ID1812</key>
            <dict>
                <key>frame</key>
                <string>{{640, 1004}, {479, 270}}</string>
                <key>offset</key>
                <string>{-38, -112}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{57, 261}, {479, 270}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1811</key>
            <dict>
                <key>frame</key>
                <string>{{1123, 1004}, {471, 270}}</string>
                <key>offset</key>
                <string>{-42, -112}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{57, 261}, {471, 270}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1810</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1463}, {454, 270}}</string>
                <key>offset</key>
                <string>{-51, -112}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{57, 261}, {454, 270}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1808</key>
            <dict>
                <key>frame</key>
                <string>{{458, 1463}, {447, 263}}</string>
                <key>offset</key>
                <string>{-45, -103}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{66, 256}, {447, 263}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID2619</key>
            <dict>
                <key>frame</key>
                <string>{{1598, 1004}, {286, 239}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {286, 239}}</string>
                <key>sourceSize</key>
                <string>{286, 239}</string>
            </dict>
            <key>PTModelSprite_ID2824</key>
            <dict>
                <key>frame</key>
                <string>{{1790, 538}, {128, 151}}</string>
                <key>offset</key>
                <string>{2, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{13, 1}, {128, 151}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID2822</key>
            <dict>
                <key>frame</key>
                <string>{{1790, 693}, {128, 151}}</string>
                <key>offset</key>
                <string>{-2, 2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{12, 2}, {128, 151}}</string>
                <key>sourceSize</key>
                <string>{156, 158}</string>
            </dict>
            <key>PTModelSprite_ID2821</key>
            <dict>
                <key>frame</key>
                <string>{{1888, 1004}, {143, 151}}</string>
                <key>offset</key>
                <string>{1, 3}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{7, 0}, {143, 151}}</string>
                <key>sourceSize</key>
                <string>{156, 156}</string>
            </dict>
            <key>PTModelSprite_ID2825</key>
            <dict>
                <key>frame</key>
                <string>{{272, 1288}, {143, 150}}</string>
                <key>offset</key>
                <string>{2, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{5, 1}, {143, 150}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID2416</key>
            <dict>
                <key>frame</key>
                <string>{{419, 1288}, {1000, 120}}</string>
                <key>offset</key>
                <string>{0, -70}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 140}, {1000, 120}}</string>
                <key>sourceSize</key>
                <string>{1000, 260}</string>
            </dict>
            <key>PTModelSprite_ID2415</key>
            <dict>
                <key>frame</key>
                <string>{{909, 1463}, {1000, 120}}</string>
                <key>offset</key>
                <string>{0, -70}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 140}, {1000, 120}}</string>
                <key>sourceSize</key>
                <string>{1000, 260}</string>
            </dict>
            <key>PTModelSprite_ID2414</key>
            <dict>
                <key>frame</key>
                <string>{{909, 1587}, {1000, 120}}</string>
                <key>offset</key>
                <string>{0, -70}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 140}, {1000, 120}}</string>
                <key>sourceSize</key>
                <string>{1000, 260}</string>
            </dict>
            <key>PTModelSprite_ID2413</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1737}, {1000, 120}}</string>
                <key>offset</key>
                <string>{0, -70}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 140}, {1000, 120}}</string>
                <key>sourceSize</key>
                <string>{1000, 260}</string>
            </dict>
            <key>PTModelSprite_ID2412</key>
            <dict>
                <key>frame</key>
                <string>{{1004, 1737}, {1000, 120}}</string>
                <key>offset</key>
                <string>{0, -70}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 140}, {1000, 120}}</string>
                <key>sourceSize</key>
                <string>{1000, 260}</string>
            </dict>
            <key>PTModelSprite_ID2411</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1861}, {1000, 120}}</string>
                <key>offset</key>
                <string>{0, -70}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 140}, {1000, 120}}</string>
                <key>sourceSize</key>
                <string>{1000, 260}</string>
            </dict>
            <key>PTModelSprite_ID2410</key>
            <dict>
                <key>frame</key>
                <string>{{1004, 1861}, {1000, 120}}</string>
                <key>offset</key>
                <string>{0, -70}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 140}, {1000, 120}}</string>
                <key>sourceSize</key>
                <string>{1000, 260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID1809.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID1809.png</string>
        </dict>
    </dict>
</plist>
