<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID2715</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {980, 880}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {980, 880}}</string>
                <key>sourceSize</key>
                <string>{980, 880}</string>
            </dict>
            <key>PTModelSprite_ID2427</key>
            <dict>
                <key>frame</key>
                <string>{{984, 0}, {1024, 839}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {1024, 839}}</string>
                <key>sourceSize</key>
                <string>{1024, 839}</string>
            </dict>
            <key>PTModelSprite_ID2710</key>
            <dict>
                <key>frame</key>
                <string>{{0, 884}, {512, 512}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {512, 512}}</string>
                <key>sourceSize</key>
                <string>{512, 512}</string>
            </dict>
            <key>PTModelSprite_ID2752</key>
            <dict>
                <key>frame</key>
                <string>{{516, 884}, {383, 381}}</string>
                <key>offset</key>
                <string>{5, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{10, 3}, {383, 381}}</string>
                <key>sourceSize</key>
                <string>{394, 389}</string>
            </dict>
            <key>PTModelSprite_ID2751</key>
            <dict>
                <key>frame</key>
                <string>{{903, 884}, {384, 381}}</string>
                <key>offset</key>
                <string>{4, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{9, 3}, {384, 381}}</string>
                <key>sourceSize</key>
                <string>{394, 389}</string>
            </dict>
            <key>PTModelSprite_ID2750</key>
            <dict>
                <key>frame</key>
                <string>{{1291, 884}, {386, 381}}</string>
                <key>offset</key>
                <string>{3, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{7, 3}, {386, 381}}</string>
                <key>sourceSize</key>
                <string>{394, 389}</string>
            </dict>
            <key>PTModelSprite_ID2749</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1400}, {387, 381}}</string>
                <key>offset</key>
                <string>{3, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{6, 3}, {387, 381}}</string>
                <key>sourceSize</key>
                <string>{394, 389}</string>
            </dict>
            <key>PTModelSprite_ID2748</key>
            <dict>
                <key>frame</key>
                <string>{{391, 1400}, {388, 380}}</string>
                <key>offset</key>
                <string>{2, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{5, 4}, {388, 380}}</string>
                <key>sourceSize</key>
                <string>{394, 389}</string>
            </dict>
            <key>PTModelSprite_ID2747</key>
            <dict>
                <key>frame</key>
                <string>{{783, 1400}, {390, 380}}</string>
                <key>offset</key>
                <string>{1, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{3, 4}, {390, 380}}</string>
                <key>sourceSize</key>
                <string>{394, 389}</string>
            </dict>
            <key>PTModelSprite_ID2790</key>
            <dict>
                <key>frame</key>
                <string>{{1681, 884}, {357, 361}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {357, 361}}</string>
                <key>sourceSize</key>
                <string>{357, 361}</string>
            </dict>
            <key>PTModelSprite_ID2725</key>
            <dict>
                <key>frame</key>
                <string>{{1177, 1400}, {512, 326}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {512, 326}}</string>
                <key>sourceSize</key>
                <string>{512, 326}</string>
            </dict>
            <key>PTModelSprite_ID2705</key>
            <dict>
                <key>frame</key>
                <string>{{1693, 1400}, {320, 240}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {320, 240}}</string>
                <key>sourceSize</key>
                <string>{320, 240}</string>
            </dict>
            <key>PTModelSprite_ID2720</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1785}, {317, 129}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{1, 3}, {317, 129}}</string>
                <key>sourceSize</key>
                <string>{319, 133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID2428.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID2428.png</string>
        </dict>
    </dict>
</plist>
